header {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

.div-of-categoties {
    position: relative;
    top: 100px;
    border-color: black;
    border-width: 3px;
}

.category {
    position: relative;
    top: 20%;
    background-color: rgb(150, 150, 238);
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    padding-left: 15px;
    width: 440px;
    height: 60px;
    font-weight: bold;
}

.category:hover {
    cursor: pointer;
    background-color: rgb(238, 130, 122);
    color: whitesmoke;
}

.flex-div {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-around;
}

.add-btn {
    height: 60px;
    background-color: rgb(156, 209, 245);
}

.minus-btn {
    height: inherit;
    background-color: rgb(245, 190, 238);
}

button {
    line-height: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    width: 60px;
    border-radius: 6px;
    font-weight: bold;
}

.input-but {
    display: flex;
    width: 500 px;
}

input {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    padding-left: 15px;
    width: 440px;
    height: 60px;
    font-weight: bold;
}

.name-dish-header {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tool {
    background-color: rgb(53, 32, 32);
    color: white;
    position: fixed;
    top: 1px;
    right: 1px;
    border-bottom-left-radius: 6px;
    height: 50px;
    padding-top: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    position: relative;
    top: 40px;
}

.tool span {
    font-size: 20px;
    color: rgb(230, 240, 87);
    font-weight: bold;
}

.edit-img {
    display: none;
    width: 30px;
    filter: brightness(95%);
    float: right;
}

.edit-img:hover {
    transition: 200ms;
    filter: brightness(130%);
    width: 33px;
}

.category:hover img {
    display: inline;
}

.ok-img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.ok-img:hover {
    transition: 200ms;
    filter: brightness(140%);
}

.ok-img:active {
    width: 58px;
    height: 58px;
    filter: brightness(90%);
}

body {
    background-color: rgb(225, 254, 255);
}

.dish-opt-1 {
    position: relative;
    top: 20%;
    background-color: rgb(155, 70, 252);
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    padding-left: 15px;
    width: 150px;
    height: 60px;
    font-weight: bold;
}

.dish-opt-2 {
    position: relative;
    top: 20%;
    background-color: rgb(136, 136, 243);
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    padding-left: 15px;
    width: 290px;
    height: 60px;
    font-weight: bold;
}

.dish-opt-2:hover {
    cursor: pointer;
    background-color: rgb(238, 130, 122);
    color: whitesmoke;
}

.image-picker {
    position: absolute;
    top: -50px;
    height: 100px;
    width: 440px;
   
}

.new-image {
    height: 113px;
    width: 440px;
    z-index: 1;
    opacity: 0.7;
}

input[name='image'] {
    position: absolute;    
    top: -100px;
    opacity: 0;
    z-index: -10;
    height: 0.1px;    
}

.photo-image {
    position: absolute;
    top: 10px; 
    left: 400px;
    height: 40px;
    width: 40px;
    z-index: 10;
}

.photo-image:hover{
    cursor: pointer;    
    transition: 200ms;
    filter: brightness(130%);
    width: 45px;
    height: 45px;
}

.category-2 .title{
    position: relative;   
}

.no-photo{
    height: 113px;
    width: 440px;
    z-index: -5;
    opacity: 0.6;
    top: -100px;
}