.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #0B0B09;
    height: 120px;
    align-items: center;
}

hr {
    margin: 0;
    background-color: rgb(48, 44, 44);
}

.logo {
    font-size: 50px;
    color: white;
}

a {
    color: whitesmoke;
}

.yaki {
    color: red;
    font-weight: bold;
}

button {
    border-radius: 5px;
    height: 5vh;
    width: 10vh;
    margin-left: 5px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-person {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.cart-profile {
    font-size: 20px;

}

.cart {
    position: absolute;
    top: 15px;
}

.cart-img {
    width: 40px;
}

.profile a {
    color: rgb(236, 177, 12);
    font-weight: bold;
}

.header-img {
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.main-background {
    position: absolute;
    z-index: -1;
}

.menu-logotip {
    position: relative;
    top: 70px;
    display: flex;
    font-size: 100px;
    justify-content: center;
    font-weight: bold;
}

.take {
    color: red;
}

.sake {
    color: whitesmoke;
}

.sake-menu {
    color: orange;
}

.aa {
    color: gold;
}

.ee {
    color: blueviolet;
}

.middle {
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
    font-size: 20px;
}

.middle-profile{
    color: white;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
    font-size: 20px;
}
.category-name-image img {
    border-radius: 20px;
    background-color: rgba(228, 86, 164, 0.658);
    height: 100px;
    padding: 3px 3px;
    width: 440px;
    font-weight: bold;
}

.category-image {
    border-radius: 20px;
    height: 100px;
    width: 440px;
    font-weight: bold;
    opacity: .9;
    z-index: 1;
}

.category-name{
    position: absolute;
    padding: 25px 180px;
    z-index: 2;
    font-weight: lighter;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.966);    
}


.full-dish {
    display: flex;
    justify-content: space-between;
    color: black;
    margin-top: 6px;
    height: 50px;
    align-items: center;
    /* z-index: 1; */
}

.dish-price {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: whitesmoke;
    height: 50px;
    padding: 10px 10px;
    width: 440px;
    font-weight: bold;
    opacity: .7;
}

.operator {
    display: flex;
    align-items: center;
    height: 50px;
}

.sum {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    background-color: whitesmoke;
    font-weight: bold;
    width: 30px;
    color: blue;
    opacity: .7;
    margin: 0;
}

.minus,
.plus {
    width: 18px;
}

.minus {
    transform: scale(-1, 1);
}

.right-arrow:hover {
    transition: 200ms;
    filter: brightness(130%);
    width: 105%;
    height: 105%;
}

.left-arrow:hover {
    transition: 100ms;
    filter: brightness(130%);
    width: 105%;
    height: 105%;
}

.price {
    font-weight: bold;
    color: rgb(5, 143, 5);
}

.left-arrow,
.right-arrow {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 90%;
    cursor: pointer;
}

.right-arrow:active {
    filter: brightness(60%);
}

.left-arrow:active {
    filter: brightness(60%);
}

.counter {
    color: rgb(8, 230, 8);
    font-weight: bold;
}

.sushi-boy {
    width: 105px;
}

.hello-text {
    font-weight: bold;
    font-size: 26px;
}

.person-name {
    color: rgb(56, 128, 236);
}